{{#if categories.length}}
<div class="kategories1" style="margin-top: 100px;">
  <div class="container">
    <div class="row justify-content-center">
      {{#each categories}}
      <div class="col-2" style="display: flex;justify-content: center;align-items: center;">
        <a href="#!">
          <div class="card hover" style="padding: 10px;">
            <div class="img">
              <img src="/images/{{categoryIcon}}" alt="" class="img123" width="150" height="150"
                style="border-radius: 50%;" />
            </div>
            <div class="about">
              <h2 class="categoryName" style="text-align: center;margin-top: 10px;">{{categoryName}}</h2>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{else}}
<h1>Kategoriyalar yo'q</h1>
{{/if}}