body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.card1 {
  height: 430px;
  background: #212529;
  border-radius: 10px;
}

.card1 img {
  height: 70%;
  border-radius: 10px;
  width: 100%;
}

.card-title {
  float: none;
}

.btn_del {
  margin-right: 15px;
}
/* .body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
} */